<footer class="page-footer">
    <h1 class="title-footer">You can also find me at:</h1>
    <div class="footer-container">
        <a class="btn-footer" href="https://twitter.com/carmeloalcacoy" target="_blank">
            <i class="fa-brands fa-x-twitter fa-2x"></i>
        </a>
        <a class="btn-footer" href="https://instagram.com/carmeloalc" target="_blank">
            <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a class="btn-footer" href="https://es.linkedin.com/in/carmeloalccoy" target="_blank">
            <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a class="btn-footer" href="https://github.com/carmeloalccoy" target="_blank">
            <i class="fa-brands fa-github fa-2x"></i>
        </a>
    </div>
    <div class="footer-copyright">© 2020</div>
</footer>
