<section id="home" class="sec-light">
    <div class="home">
        <div class="author">
            <p class="author-name">Carmelo A.</p>
            <p class="author-desc1">Student.</p>
            <p class="author-desc2">Mathematician and computer engineer.</p>
        </div>
        <div class="author-image">
            <img class="author-img" src="/me-myself2.jpg" title="This is me" media-simple="true" />
        </div>
    </div>
</section>

<section id="about" class="sec-dark">
    <h1 class="title-section">ABOUT ME</h1>
    <div class="body-about">
        <p>
            Hello! My name is Carmelo. I studied a Dual Degree in Computer Engineering and Mathematics at the
            <a href="http://www.um.es/" target="_blank">University of Murcia</a>. I specialized in in Software
            Engineering.
        </p>
        <p>
            I love science in general, puzzles and brain teasers in particular. That's where my passion for programming
            comes from. For me programming is like solving a challenge where the important thing is not only to give a
            solution, but to do it in a beautiful way, with quality.
        </p>
        <p>
            In my free time, apart from programming, I like soccer, more to watch it than to play it; the sea and the
            mountain. Every Sunday you can find me in my seat at the Cartagonova stadium, cheering on F.C. Cartagena.
        </p>
    </div>
</section>
