<section id="experiencia" class="sec-light">
    <h1 class="title-section">EXPERIENCE</h1>
    <div class="collapsemodule">
        <div class="collapse" id="collapseTimeline">
            @if (showTimeLineLong) {
                <ul class="timeline" id="timeline-long">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Science Secondary Education</h4>
                                <p class="timeline-subtitle">Sept 2012 - Jun 2014</p>
                                <p class="timeline-subsubtitle">I.E.S. El Bohio, Cartagena, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>Studied Secondary Education at I.E.S. El Bohio.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Dual Degree in Computer Engineering and Mathematics</h4>
                                <p class="timeline-subtitle">Sept 2014</p>
                                <p class="timeline-subsubtitle">University of Murcia, Murcia, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    In 2014, I began my university studies at the University of Murcia, motivated by my
                                    passion for mathematics, the incessant growth of computer science in everyday world,
                                    and my condition of good student, I decided to do this Double Degree whose
                                    curriculum is 5 years.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Internship at Repsol</h4>
                                <p class="timeline-subtitle">Jul 2017 - Aug 2017</p>
                                <p class="timeline-subsubtitle">Repsol S.A., Cartagena, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    During the summer of 2017, I made an internship in the IT team of Repsol's Cartagena
                                    factory. Support to IT infrastructures and systems support.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Degree in Computer Engineering.</h4>
                                <p class="timeline-subtitle">Jul 2019</p>
                                <p class="timeline-subsubtitle">University of Murcia, Murcia, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    In this year, I finished all the subjects related to the Engineering part
                                    Engineering. I was able to obtain my degree in this discipline.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Junior Software Engineer</h4>
                                <p class="timeline-subtitle">Sept 2019</p>
                                <p class="timeline-subsubtitle">Capgemini, Murcia, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    My first step into the working world begins while I finish my studies. Software
                                    development for external clients using C/C++ and Java with client-side client
                                    methodologies.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Degree in Mathematics.</h4>
                                <p class="timeline-subtitle">Mar 2020</p>
                                <p class="timeline-subsubtitle">University of Murcia, Murcia, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    In this year, I finished all the subjects related to the Computer Engineering part.
                                    I was able to obtain my second degree.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Software Engineer.</h4>
                                <p class="timeline-subtitle">Aug 2020 - Dec 2020</p>
                                <p class="timeline-subsubtitle">Capgemini, Murcia, España</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Desde este fecha dejé el rol de programador para tomar las riendas del rol
                                    Analista-Programador. Realización de diseños técnicos usando las citadas tecnologías
                                    para cliente del sector seguros.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Software Engineer.</h4>
                                <p class="timeline-subtitle">Jan 2021</p>
                                <p class="timeline-subsubtitle">Nommon Solutions and Technologies, Madrid, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    New year, new life. I began a new stage as a Software Engineer in a new company and
                                    a new city.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            } @else {
                <ul class="timeline" id="timeline-short">
                    <li class="timeline">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Dual Degree in Computer Engineering and Mathematics</h4>
                                <p class="timeline-subtitle">Sept 2014</p>
                                <p class="timeline-subsubtitle">University of Murcia, Murcia, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    In 2014, I began my university studies at the University of Murcia, motivated by my
                                    passion for mathematics, the incessant growth of computer science in everyday world,
                                    and my condition of good student, I decided to do this Double Degree whose
                                    curriculum is 5 years.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Software Engineer.</h4>
                                <p class="timeline-subtitle">Ene 2021</p>
                                <p class="timeline-subsubtitle">Nommon Solutions and Technologies, Madrid, Spain</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    New year, new life. I began a new stage as a Software Engineer in a new company and
                                    a new city.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
    <div class="experience-button">
        <a class="collapsebutton" (click)="toggleTimeLine()">
            @if (showTimeLineLong) {
                Show less...
            } @else {
                Show more...
            }
        </a>
    </div>
</section>
