@import url(https://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i);

/* ************************* GLOBAL ************************* */

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
}

a {
    color: #09092f;
    outline: none;
}

a:link {
    text-decoration: #fff;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #2b2b4f;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p {
    color: #444a40;
    margin-top: 0;
    margin-bottom: 1rem;
}

section {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ************************* Sections ************************* */

.title-section {
    font-family: "Signika Negative", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.sec-dark {
    background-color: #eeeeee !important;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.sec-light {
    background-color: #f9f9f9 !important;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
